@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

html{
    display: block;
    font-size: 62.5%;
    text-size-adjust: 100%;
}

body{
    background: #fff;
    color: #888;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    cursor: auto;
}

div, header, main, article, footer{
    display: block;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Quattrocento",serif;
    font-weight: 700;
    font-style: normal;
    color:#666;
    text-rendering: optimizeLegibility;
    margin-top: .375em;
    margin-bottom: .75em;
    line-height: 1.4;
    overflow-wrap: break-word;
}

h1{
    font-size: 28px;
    font-size: 2.8rem;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2{
    font-size: 24px;
    font-size: 2.4rem;
}

p{
    font-size: .8em;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 1.5em;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
}

a{
    color: #e8554e;
    text-decoration: none;
    transition: .2s;
    background-color: transparent;
}

ul{
    list-style: disc;
}

ul, ol, dl{
    list-style-position: outside;
    font-family: inherit;
}

ul,ol{
    overflow-wrap: break-word;
}

button{
    background-color: #e8554e;
    color: #fff;
    border: none;
    font-size: 18px;
    font-size: 1.8rem;
    font-style: italic;
    background-clip: padding-box;
    padding: .375em .75em .5em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    margin: 0;
    transition: .2s;
}
.show ul{
    display: block;
}
.show button{
    background-color: #e8554e;
    color: #fff;
}
.header-bg{
    background-image: url(imgg/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    height: 100%;
    position: relative;
    min-height: 238px;
}

.site-title-des{
    padding: 1.5em;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.site-title{
    margin-bottom: .1875em;
}

.site-title a{
    color: white;
}

.site-description{
    font-size: 16px;
    font-size: 1.6rem;
    color: #fff;
}

.site-content{
    margin-top: 1.5em;
    margin-bottom: 3em;
    padding: 0 1.5em;
}

.header-bg h1{
    display: block;
    font-weight: bold;
}

.header-bg h2{
    display: block;
}

.stick{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: static;
    top: auto;
    width: 100%;
}

.main-navigation{
    clear: both;
    display: block;
    text-transform: uppercase;
    width: 100%;
}

.main-navigation ul{
    list-style: none;
    margin: 0;
}

.menu-toggle{
    border-radius: 0;
    background-color: #555;
    width: 100%;
}
.menu-toggle:hover{
    background-color: #e8554e;
}
.nav-menu{
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li{
    border-top: 1px solid #ddd;
    position: relative;
    display: block;
}

.main-navigation a{
    color: #666;
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding: 1.5em;
    text-decoration: none;
    font-style: normal;
}

.menu-item-1-1:hover a{
    color: #e8554e;
}
.menu-item-2-1:hover a{
    color: #e8554e;
}
.menu-item-3-1:hover a{
    color: #e8554e;
}
.menu-item-4-1:hover a{
    color: #e8554e;
}
.main-navigation .current-menu-item>a{
    color: #e8554e;
}
.site-content{
    margin-top: 1.5em;
    margin-bottom: 3em;
    padding: 0 1.5em;
}
.site-articles{
    margin: 0 0 3em;
}

.article-header{
    margin-bottom: 1.5em;
}

.create-content{
    margin: 1.5em 0 0;
}

.featured-image{
    background: #eee;
    width: 100%;
}

.featured-background{
    align-items: center;
    background-position: 50%;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 430px;
    padding: 1em;
    position: relative;
    background-image: url(imgg/wild.jpg);
    background-color: black;
}

.featured-container{
    color: #fff;
    width: 100%;
    z-index: 1;
}

.featured-info{
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4,1fr);
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    position: relative;
}

.grid-info{
    grid-row-start: 1;
    grid-column-end: span 4;
    padding: 0;
    max-width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.new-site{
    color: inherit;
    text-align: center;
}

.new-site p{
    margin: .67em;
}

.grid-info a{
    color: #e8554e;
    text-decoration: none;
    line-height: inherit;
}

.info-button{
    text-align: center;
    display: block;
    margin: .75em auto;
    clear: both;
    column-gap: .5em;
    flex-direction: row;
    flex-wrap: wrap;
}

.learn-more{
    margin-right: 0;
    display: inline-block;
    margin-bottom: .5em;
}

.learn-more a{
    background-color: #32373c;
    border-radius: 9999px;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125em;
    padding: calc(.667em + 2px) calc(1.333em + 2px);
    text-align: center;
    text-decoration: none;
    word-break: break-word;
}

.last-articles{
    box-sizing: border-box; 
}

.article-grid{
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4,1fr);
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    
}

.article-grid-col h4{
    font-size: 20px;
}

.article-grid-col:nth-child(1){
    grid-row-start: 1;
    grid-column-end: span 4;
}

.articles{
    margin-bottom: 1em;
}

.article-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.wrapper{
    flex-basis: 100%;
}

.article-wrapper .article-title{
    font-size: 1em;
}

.article-wrapper .article-title a{
    color: #666;
    color: inherit;
    text-decoration: none;
}

.article-wrapper p{
    margin: .5em 0;
}
.article-wrapper .more-link a{
    font-size: .8em;
}

.article-meta{
    font-size: .7em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: .5em;
}

.form-container{
    box-sizing: border-box;
}

.form-grid{
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4,1fr);
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
}

.form-grid-block-1{
    padding: 0;
    max-width: 100%;
}

.form-grid-block-1:nth-child(1){
    grid-row-start: 1;
    grid-column-end: span 4;
}

.new-content {
    margin-block-start: 42px;
    font-size: 42px;
    font-size: 2.625em;
    text-align: left;
    word-break: break-word;
    word-wrap: break-word;
}

.form-grid-block-2{
    padding: 0;
    max-width: 100%;
}

.form-grid-block-2:nth-child(2){
    grid-row-start: 2;
    grid-column-end: span 4;
}

.form-subscription{
    position: relative;
}

.sub-blog{
    display: block;
    align-items: flex-start;
    word-break: break-word;
    word-wrap: break-word;
}

.subscribe-email{
    margin: 0;
    flex-grow: 1;
    background: 0 0;
}

.screen-reader{
    word-wrap: normal;
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.subscribe-submit{
    margin: 0;
}

input{
    line-height: normal;
    color: inherit;
    font: inherit;
    margin: 0;
}
input[type=email]{
    background-color: #eee;
    border: none;
    box-shadow: none;
    background-clip: padding-box;
    border-radius: 3px;
    font-family: inherit;
    box-shadow: none;
    color: rgba(0,0,0,.75);
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0 0 1.5em;
    padding: .75em;
    width: 100%;
    height: 3em;
    box-sizing: border-box;
    transition: box-shadow .45s,border-color .45s ease-in-out;
}

.sub-button{
    display: inline-block;
    max-width: 100%;
    border-style: solid;
    border-color: transparent;
    line-height: normal;
    word-break: break-word;
    word-wrap: break-word;
    background-color: #32373c;
    border-radius: 9999px;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125em;
    padding: calc(.667em + 2px) calc(1.333em + 2px);
    text-align: center;
    text-decoration: none;
}

.site-footer{
    margin: .75em 0;
}

.footer-wrap{
    background-color: #303030;
    margin-top: 3em;
    overflow: auto;
}

.last-footer{
    margin: 3em auto 6em;
    overflow: hidden;
    padding: 0 1.5em;
}

.site-info{
    clear: both;
    width: 100%;
    color: #555;
    font-style: italic;
}


/* media section */ 
@media only screen and (min-width: 1080px){
.article-grid-col:nth-child(1){
    grid-row-start: 1;
    grid-column-end: span 12;
}
}

.form-grid{
    grid-template-columns: repeat(12,1fr);
}

.form-grid-block-1:nth-child(1){
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: span 3;
}

.form-grid-block-2:nth-child(2){
    grid-row-start: 1;
    grid-column-start: 6;
    grid-column-end: span 5;
}


@media only screen and (min-width: 782px){
.wrapper{
    flex-basis: calc(33.33333% - 16px);
    margin-bottom: 1em;
}

.article-wrapper .article-title{
    font-size: 1.2em;
    margin: 0 0 .25em;
}
}

@media only screen and (min-width: 600px){
.article-grid {
    grid-template-columns: repeat(8,1fr);
}

.article-grid-col:nth-child(1){
    grid-column-end: span 8;
}

.wrapper{
    flex-basis: calc(33.333% - 16px);
    min-width: 0;
    margin-bottom: 1.5em;
    word-break: break-word;
    overflow-wrap: break-word;
    position: relative;
}

.form-grid{
    grid-template-columns: repeat(8,1fr);
}

.form-grid-block-1:nth-child(1){
    grid-row-start: 1;
    grid-column-end: span 4;
}

.form-grid-block-2:nth-child(2){
    grid-row-start: 1;
    grid-column-start: 6;
    grid-column-end: span 5;
}
}

@media only screen and (min-width: 50em){
.header-bg{
    background-attachment: fixed;
    background-size: 100%;
    background-position: top center;
}
.site-main{
    margin: 0 35% 0 0;
}    
.article-header, .article-title{
    text-align: left;
}

.site-title{
    font-size: 54px;
}
.content-area{
    margin: 0 -35% 0 0;
    width: 100%;
}
.site-content{
    margin-top: 4.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

h1, h2, h3, h4, h5, h6{
    line-height: 1.4;
}
h1{
    font-size: 54px;
    font-size: 5.4rem;
}
h2{
    font-size: 42px;
    font-size: 4.2rem;
}

.widget area{
    float: right;
    overflow: hidden;
    width: 25%;
}

.last-footer{
    text-align: left;
    margin: 4.5em auto 6em;
    max-width: 1200px;
}
}

@media screen and (min-width: 35em){
.site-footer{
    clear: none;
    display: inline-block;
}

.main-navigation{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    text-align: center;
}

.main-navigation ul{
    display: block;
}

.menu-toggle{
    display: none;
}

.main-navigation li{
    border: 0;
    display: inline-block;
}
}

@media screen and (max-width: 69.999em){
body{
    padding-top: 0;
}
}
