@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

html{
    display: block;
    font-size: 62.5%;
    text-size-adjust: 100%;
}

body{
    background: #fff;
    color: #888;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    cursor: auto;
}
button{
    background-color: #e8554e;
    color: #fff;
    border: none;
    font-size: 18px;
    font-size: 1.8rem;
    font-style: italic;
    background-clip: padding-box;
    padding: .375em .75em .5em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    margin: 0;
    transition: .2s;
}
div, header, main, article, footer, nav, figure{
    display: block;
}
img{
    height: auto;
    max-width: 100%;
}
input{
    line-height: normal;
}
a{
    color: #e8554e;
    text-decoration: none;
    transition: .2s;
    background-color: transparent;
}
p {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 1.5em;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
}
h1 {
    font-size: 28px;
    font-size: 2.8rem;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h2{
    font-size: 24px;
    font-size: 2.4rem;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Quattrocento",sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #666;
    text-rendering: optimizeLegibility;
    margin-top: .375em;
    margin-bottom: .75em;
    line-height: 1.4;
}
ul{
    list-style: disc;
}

ul, ol, dl{
    list-style-position: outside;
    font-family: inherit;
}

ul,ol{
    overflow-wrap: break-word;
}
svg:not(:root){
    overflow: hidden;
}
input, select, textarea{
    color: inherit;
    margin: 0;
    font: inherit;
}
.show ul{
    display: block;
}
.show button{
    background-color: #e8554e;
    color: #fff;
}
.header-bg{
    background-image: url(imgg/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    height: 100%;
    position: relative;
    min-height: 238px;
}

.site-title-des{
    padding: 1.5em;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.site-title{
    margin-bottom: .1875em;
}

.site-title a{
    color: white;
}

.site-description{
    font-size: 16px;
    font-size: 1.6rem;
    color: #fff;
}
.header-bg h1{
    display: block;
    font-weight: bold;
}

.header-bg h2{
    display: block;
}

.stick{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: static;
    top: auto;
    width: 100%;
}

.main-navigation{
    clear: both;
    display: block;
    text-transform: uppercase;
    width: 100%;
}

.main-navigation ul{
    list-style: none;
    margin: 0;
}

.menu-toggle{
    border-radius: 0;
    background-color: #555;
    width: 100%;
}
.menu-toggle:hover{
    background-color: #e8554e;
}
.nav-menu{
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li{
    border-top: 1px solid #ddd;
    position: relative;
    display: block;
}

.main-navigation a{
    color: #666;
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding: 1.5em;
    text-decoration: none;
}

.menu-item-1-1:hover a{
    color: #e8554e;
}
.menu-item-2-1:hover a{
    color: #e8554e;
}
.menu-item-3-1:hover a{
    color: #e8554e;
}
.menu-item-4-1:hover a{
    color: #e8554e;
}
.main-navigation .current-menu-item>a{
    color: #e8554e;
}
input[type=text], input[type=email], input[type=url], textarea{
    background-color: #eee;
    border: none;
    box-shadow: none;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: inherit;
    box-shadow: none;
    color: rgba(0,0,0,.75);
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0 0 1.5em;
    padding: .75em;
    width: 100%;
    height: 3em;
    box-sizing: border-box;
    transition: box-shadow .45s,border-color .45s ease-in-out;
}
.site {
    margin-top: 1.5em;
    margin-bottom: 3em;
    padding: 0 1.5em;
}
.site-content-article {
    margin: 0 0 3em;
}
.site-content-header {
    margin-bottom: 1.5em;
}
.site-content-header-title {
    margin-bottom: 0;
}
.site-content-entry {
    margin: 1.5em 0 0;
}
.site-content-image {
    background: #eee;
    width: 100%;
}
.site-content-para {
    text-align: left;
}
.site-content-spacer {
    clear: both;
}
.site-content-blocks {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.75em;
}
.site-content-blocks-1 {
    flex-grow: 1;
    min-width: 0;
    overflow-wrap: break-word;
    word-break: break-word;
}
.site-content-blocks-1-h-2 {
    text-align: left;
}
.site-content-blocks-2 {
    flex-grow: 1;
    min-width: 0;
    overflow-wrap: break-word;
    word-break: break-word;
}
.site-content-blocks-2-h2 {
    text-align: left;
}
.site-content-blocks-2-form-post label {
    margin-bottom: .25em;
    float: none;
    font-weight: 700;
    display: block;
    margin: .375em 0 .1875em;
    font-size: 18px;
    font-size: 1.8rem;
    color: #666;
    text-align: left;
}
.site-content-blocks-2-form-post label span {
    font-size: 85%;
    margin-left: .25em;
    font-weight: 400;
}
.site-content-blocks-2-form-post label input[type=text] {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1.5em;
    padding: 14px 7px;
    height: 3em;
}
.site-content-blocks-2-form-post-submit {
    text-align: left;
}
.site-content-blocks-2-form-post-textarea-label-txt{
    box-sizing: border-box;
    float: none;
    height: 200px;
    margin-bottom: 1.5em;
    width: 100%;
    padding: 7px;
    font: inherit;
}
.site-content-footer {
    margin: .75em 0;
}
.site-content-footer-wrap {
    background-color: #303030;
    margin-top: 3em;
    overflow: auto;
}
.site-content-footer-wrap-footer {
    margin: 3em auto 6em;
    overflow: hidden;
    padding: 0 1.5em;
}
.site-content-footer-wrap-footer-info {
    clear: both;
    width: 100%;
    color: #555;
    font-style: italic;
}
h2 {
    font-size: 42px;
    font-size: 4.2rem;
}
img.emoji {
    display: inline;
    border: none;
    box-shadow: none;
    height: 1em;
    width: 1em;
    margin: 0 .07em;
    vertical-align: -0.1em;
    background: none;
    padding: 0;
}
.info {
    margin-bottom: 1.5em;
}
.social-links {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    align-items: center;
    font-size: 24px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    text-indent: 0;
    margin: 0;
}
.instagram {
    background-color: #f00075;
    color: #fff;
}
.instagram a {
    padding: .25em;
    border-bottom: 0;
    box-shadow: none;
    text-decoration: none;
}
.instagram svg {
    height: 1em;
    width: 1em;
}
.facebook {
    background-color: #1778f2;
    color: #fff;
}
.facebook a {
    padding: .25em;
    border-bottom: 0;
    box-shadow: none;
    text-decoration: none;
}
.facebook svg {
    height: 1em;
    width: 1em;
}
.twitter {
    background-color: #1da1f2;
    color: #fff;
}
.twitter a {
    padding: .25em;
    border-bottom: 0;
    box-shadow: none;
    text-decoration: none;
}
.twitter svg {
    height: 1em;
    width: 1em;
}
.wordpress {
    background-color: #3499cd;
    color: #fff;
}
.wordpress a {
    padding: .25em;
    border-bottom: 0;
    box-shadow: none;
    text-decoration: none;
}
.wordpress svg {
    height: 1em;
    width: 1em;
}

@media only screen and (min-width:50em){
    .header-bg{
        background-attachment: fixed;
        background-size: 100%;
        background-position: top center ;
    }
    .site-title{
        font-size: 54px;
    }
    h1, h2, h3, h4, h5, h6{
        line-height: 1.4;
    }
    
    h2{
        font-size: 42px;
        font-size: 4.2rem;
    }
    .site {
        margin-top: 4.5em;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }
    .site-content-main {
        margin: 0 35% 0 0;
   }
    .site-content-header {
        text-align: left;
    }
    .site-content-header-title {
        text-align: left;
   }
   .site-content-widget-area {
    float: right;
    overflow: hidden;
    width: 25%;
}
   .site-content-footer-wrap-footer {
    text-align: left;
    margin: 4.5em auto 6em;
    max-width: 1200px;
    }   
}
@media screen and (min-width:35em){
    .main-navigation{
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        text-align: center;
    }
    
    .main-navigation ul{
        display: block;
    }
    
    .menu-toggle{
        display: none;
    }
    
    .main-navigation li{
        border: 0;
        display: inline-block;
    }
    .site-content-footer {
        clear: none;
        display: inline-block;
    }
}
@media (min-width: 782px) {
    .site-content-blocks {
        flex-wrap: nowrap;
    }
    .site-content-blocks-1 {
        flex-basis: 0;
        flex-grow: 1;
    }
    .site-content-blocks-2 {
        margin-left: 2em;
        flex-basis: 0;
        flex-grow: 1;
   }
}