
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>MVC tablo örnek</h3>
<br/>
<table class="table table-bordered table-hover">
    <tr>
        <th>Kategori id</th>
        <th>Kategori adı</th>
        <th>Kategori acıklama</th>
        <th>Kategori durum</th>
    </tr>
    <tr>
        <td>d</td>
        <td>df</td>
        <td>ff</td>
        <td>ffasdgg</td>
    </tr>
</table>
<button class="btn btn-info">Yeni Kategori</button>