
@{
    ViewBag.Title = "Page403";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="d-flex justify-content-center">
    <h2>Page403 hata sayfası</h2>

</div>
<div class="d-flex justify-content-center">
    <p>Böyle bir sayfa bulunmamaktadır.</p>
</div>
<div class="d-flex justify-content-center">
    <p>Ana Sayfaya Dön:</p>
</div>
<div class="d-flex justify-content-center">
    <a href="/Home/Index/" class="btn btn-warning">ANA SAYFA</a>
</div>
